<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Chỉnh sửa hồ sơ</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/template_admin/template/vendors/ti-icons/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/template_admin/template/vendors/base/vendor.bundle.base.css}" >
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet"  th:href="@{/template_admin/template/css/style.css}" >
  <!-- endinject -->
  <link rel="shortcut icon" th:href="@{/template_admin/template/images/favicon.png}" >
</head>




<div th:replace="admin/layout/layout :: layout(content=~{admin/fragments/setting :: content})"></div>


<footer th:replace="admin/partials/_footer :: footer">

</footer>




<script  th:src="@{/template_admin/template/vendors/base/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script  th:src="@{/template_admin/template/vendors/chart.js/Chart.min.js}"></script>
<script  th:src="@{/template_admin/template/js/jquery.cookie.js}" type="text/javascript"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script  th:src="@{/template_admin/template/js/off-canvas.js}"></script>
<script  th:src="@{/template_admin/template/js/hoverable-collapse.js}"></script>
<script th:src="@{/template_admin/template/js/template.js}"></script>
<script th:src="@{/template_admin/template/js/todolist.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script th:src="@{/template_admin/template/js/dashboard.js}"></script>
</html>
