<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tourist - Travel Agency HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/template_user/lib/animate/animate.min.css}" rel="stylesheet">

    <link th:href="@{/template_user/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/template_user/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/template_user/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/template_user/css/style.css}" rel="stylesheet">
    <link th:href="@{/template_user/css/history.css}" rel="stylesheet">

</head>
<body>
<div th:replace="user/header :: header"></div>

<div class="history-container">
    <h2 class="history-title">Lịch sử đặt tour</h2>
    <table class="history-table">
        <thead>
        <tr>
            <th>Tên tour</th>
            <th>Phương tiện</th>
            <th>Ngày đặt</th>
            <th>Số khách</th>
            <th>Tổng tiền</th>
            <th>Phương thức</th>
            <th>Yêu cầu riêng</th>
            <th>Tình trạng</th>
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="booking : ${bookings}">
            <td th:text="${booking[14]}"></td>
            <td th:text="${booking[2] == null ? 'Đang xử lý' : booking[9]}">Phương tiện</td>
            <td th:text="${booking[3]}">Ngày đặt</td>
            <td th:text="${booking[4]}">Số khách</td>
            <td th:text="${booking[5]}">Tổng tiền</td>
            <td th:text="${booking[6] == 0 ? 'Tiền mặt' : 'Momo'}">Phương thức</td>
            <td th:text="${booking[7]}">Yêu cầu riêng</td>
            <td>
                    <span th:classappend="${booking[8] == 0 ? 'status-cancel'
                                   : booking[8] == 1 ? 'status-pending' : 'status-approved'}"
                          th:text="${booking[8] == 0 ? 'Đã hủy'
                                   : booking[8] == 1 ? 'Chờ duyệt' : 'Đã duyệt'}">
                    </span>
            </td>
            <td>
                <button th:if="${booking[8] == 1}" class="btn btn-cancel"  th:onclick="'huyTour(' + ${booking[0]} + ');'">Hủy tour</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="user/footer :: footer"></div>

<!-- JavaScript Libraries -->
<script th:src="@{https://code.jquery.com/jquery-3.4.1.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/template_user/lib/wow/wow.min.js}"></script>
<script th:src="@{/template_user/lib/wow/wow.min.js}"></script>
<script th:src="@{/template_user/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/template_user/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/template_user/lib/tempusdominus/js/moment.min.js}"></script>
<script th:src="@{/template_user/lib/tempusdominus/js/moment-timezone.min.js}"></script>
<script th:src="@{/template_user/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/template_user/js/main.js}"></script>
<script th:src="@{/template_user/js/header.js}"></script>
<script th:src="@{/template_user/js/history.js}"></script>

<script>
    function huyTour(bookingId) {
    fetch(`/history/cancel/${bookingId}`, {
        method: 'PUT',
    })
    .then(response => response.text())
    .then(data => {
        location.reload();
    })
    .catch(error => console.error('Error:', error));
}
</script>
</body>
</html>